<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.BoardMapper">
	
	<sql id="find">
		<if test="findKey=='email'">
			AND EMAIL LIKE CONCAT('%' , #{findValue} , '%')
		</if>
		<if test="findKey=='subject'">
			AND SUBJECT LIKE CONCAT('%' , #{findValue} , '%')
		</if>
		<if test="findKey=='content'">
			AND CONTENT LIKE CONCAT('%' , #{findValue} , '%')
		</if>
		<if test="findKey=='subcon'">
			AND (SUBJECT LIKE CONCAT('%' , #{findValue} , '%')
			   OR CONTENT LIKE CONCAT('%' , #{findValue} , '%'))
		</if>	
	</sql>
	
	<!-- 전체게시물수 -->
	<select id="selectTotCnt" resultType="int">
		SELECT COUNT(*) TOTCNT
		FROM BOARD
		WHERE 1=1
		<include refid="find"/>
		AND REMOVEYN != 'y'
	</select>
	
	<select id="selectList" resultType="Board">
		SELECT * FROM BOARD
		WHERE 1=1  <!-- 조회조건(include가 없을수도 있다) -->
		<include refid="find"/>
		AND REMOVEYN != 'y'
		ORDER BY BOARDNUM DESC
		limit #{startNum} , #{perPage}         
	</select>
	
	<select id="selectOne" resultType="Board">
		SELECT * FROM BOARD
		WHERE BOARDNUM = #{boardNum}
	</select>
	
	<!-- useGeneratedKeys : 자동으로 생성된 키를 board의 boardNum에 세팅 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="boardNum">
		INSERT INTO BOARD(EMAIL,SUBJECT,CONTENT,IP)
		VALUES(#{email}, #{subject}, #{content}, #{ip})
	</insert>
	<update id="update">
		UPDATE BOARD
		SET EMAIL=#{email},
			SUBJECT=#{subject},
			CONTENT=#{content},
			IP=#{ip}
			MODIDATE = now()
		WHERE BOARDNUM = #{boardNum}
	</update>
	<!-- DB상 삭제 -->
	<delete id="delete">
		DELETE FROM BOARD
		WHERE BOARDNUM = #{boardNum}
	</delete>
	
	<!-- 게시물 삭제(삭제시 removeyn을 y로 변경) -->
	<update id="updateRemoveYn">
		UPDATE BOARD
		SET REMOVEYN = 'y'
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	
	<!-- 조회수+1 -->
	<update id="updateReadCnt">
		UPDATE BOARD
		SET READCNT=READCNT+1
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	<!-- 좋아요 + 1 -->
	<update id="updateLikeCnt">
		UPDATE BOARD
		SET LIKECNT = LIKECNT + 1
		WHERE BOARDNUM = #{boardNum}
	</update> 
	
	<!-- 싫어요 + 1 -->
	<update id="updateDisLikeCnt">
		UPDATE BOARD
		SET DISLIKECNT = DISLIKECNT + 1
		WHERE BOARDNUM = #{boardNum}
	</update> 
	
</mapper>